@model IEnumerable<MyStoreApp.ViewModels.AgentPurchaseByItemViewModel>

@{
    ViewBag.Title = "AgentsByItem";
}

<h2>AgentsByItem</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQuantityOfItemPurchased)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalQuantityOfItemPurchased)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
